.carousel {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;

  &-img {
    position: absolute;
    width: 0;
    height: 100vh;
    object-fit: cover;
    transition: all 0.5s;

    &--active {
      z-index: 1;
      width: 100vw !important;
    }

    &-previous {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &--fade-in-left {
      animation: fadeInLeft 0.7s 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeInLeft {
        to {
          width: 100vw;
        }
      }
    }

    &--fade-out-right {
      animation: fadeOutRight 0.7s 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeOutRight {
        from {
          width: 100vw;
          right: 0;
        }
        to {
          width: 0;
          right: 0;
        }
      }
    }

    &--fade-in-right {
      animation: fadeInRight 0.7s 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeInRight {
        from {
          right: 0;
        }
        to {
          width: 100vw;
          right: 0;
        }
      }
    }

    &--fade-out-left {
      animation: fadeOutLeft 0.7s 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeOutLeft {
        from {
          width: 100vw;
        }
        to {
          width: 0;
        }
      }
    }
  }
}
