.logo {
  position: absolute;
  top: 10px;
  right: 40px;
  font-family: "Barlow", sans-serif;
  font-size: 30px;

  p:last-child {
    font-style: italic;
    font-weight: 300;
    text-align: right;
  }
}
