.cta {
  margin-top: 50vh;
  transform: translate(0, -50%);
  text-align: center;
  font-family: "Dhurjati", sans-serif;

  h2 {
    font-family: "Overlock SC", cursive;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    letter-spacing: 5px;
    padding: 0 420px;
    margin-bottom: 20px;
  }

  &-input {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      font-family: inherit;
      height: 50px;
      border: 0;
      color: #acacce;
      padding: 0 40px;
      font-size: 22px;
      border-radius: 20px 0 0 20px;
    }
    button {
      font-size: 22px;
      font-family: inherit;
      height: 50px;
      border: 0;
      color: white;
      background-color: #3e51ff;
      padding: 0 40px;
      border-radius: 0 20px 20px 0;
      cursor: pointer;
    }
  }
}
