.header {
  min-height: 100vh;
  background-image: url(images/bg.jpg);
  background-position: left;
  background-size: cover;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
