.nav {
  color: white;

  ul {
    display: flex;
    justify-content: end;
    padding-top: 35px;

    li {
      font-size: 20px;
      margin-right: 80px;
      font-family: "Overpass Mono", monospace;
      font-weight: bold;
    }

    li:first-child {
      font-size: 30px;
      margin-right: auto;
      margin-left: 80px;
      font-family: "Special Elite", cursive;
    }
  }
}
