.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  margin-top: 50vh;
  transform: translate(0, -50%);

  h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 45px;
    font-family: "Overpass Mono", monospace;
    font-weight: normal;
  }

  h1 {
    color: white;
    font-weight: 900;
    font-size: 65px;
    margin: -15px 0 0 0;
    font-family: "Special Elite", cursive;
  }

  button {
    background-color: white;
    padding: 12px 40px 6px 40px;
    color: #ff603d;
    cursor: pointer;
    font-family: "Overpass Mono", monospace;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 40px;
  }
}
